.feed {
    padding-bottom: 71px;

    &__item {
        display: flex;
    }

    &__img {
        margin-top: 70px;
        height: 169px;
    }

    &__text {
        margin-top: 70px;
        margin-left: 62px;
        padding-right: 54px;
    }

    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }

    &__count {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }

    &__descr {
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 400;
    }
}